@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes glitch {
  0% { text-shadow: -2px 2px 0 #00ff00, 2px -2px 0 #00ff00; }
  25% { text-shadow: 2px 2px 0 #00ff00, -2px -2px 0 #00ff00; }
  50% { text-shadow: -2px -2px 0 #00ff00, 2px 2px 0 #00ff00; }
  75% { text-shadow: 2px -2px 0 #00ff00, -2px 2px 0 #00ff00; }
  100% { text-shadow: -2px 2px 0 #00ff00, 2px -2px 0 #00ff00; }
}

.glitch {
  animation: glitch 1s infinite alternate;
  animation-duration: 0.3s;
  animation-iteration-count: 3;
}